streamlit>=1.0
langchain_ollama>=0.0.1    # Если пакет доступен через PyPI; возможно, потребуется установить его вручную
sentence-transformers>=2.2.0
pymongo>=3.12.0
numpy>=1.21.0
chardet>=4.0.0
requests>=2.25.1
beautifulsoup4>=4.9.3
